# Today's Agenda
> ### What is Jupyter Notebook?
> ### How to Use Jupyter Notebook?
> ### Short cuts in Jupyter Notebook!
> ### What is Python?
> ### What is Variable?
> ### What is datatype?
> ### Whar are Literals?
> ### Whar is Operator?

# What is Jupyter?
Jupyter is an IDE typically used to develop data analysis and data science solutions. Jupyter, in its early days was called IPython(Hence the extension - ipynb) but it was changed to Jupyter to reflect the inclusion of support for other programming languages. It actually provides support for 40+ languages. The name Jupyter is an amalgamation of the major programming languages it supports - `JUlia PYTon E R`

### Reason to use Jupyter
There are two major reasons we're using Jupyter over other IDEs
- Jupyter has the provision to include rich media(images, hyperlinks, plots, graphs, audio, text formatting etc..)
- Debugging in Jupyter is much more easier compared to other IDEs/Editors

# Few keyboard shortcuts:
- `Esc` + `M`: Convert a coding cell into markdown
- `Esc` + `Y`: Convert a markdown cell into the code mode
- `Shift` + `Enter`: To execute/run the current cell
- `Esc` + `A`: To add a new cell atop the current cell
- `Esc` + `B`: To add a new cell below the current cell
- `Esc` + `DD`: To delete the current cell

In [ ]:
5+6

11

# Headings
Headings are important in documents as they lead the reader in on what is the topic being dealt. Jupyter makes use of Hashes(#) to indicate Headings.

Syntax:
    #s text

# Heading Style 1
## Heading Style 2
### H3
#### H4
##### H5
###### H6

# Blockquote
Blockquotes can be considered as sub-articles or specialized sections in the article where terms which need further explanantion are explained.

Syntax:

    > This is an example of a blockquote

Line1  
Line2  
> Term1  

Line3  
Line4  
Line5  
> Term21  
> Term22

Line6

# Text Highlighting
Text in jupyter can be highlighted by enclosing it in backticks(`)

The total price of the item is `Rs.499(This part is higlighted)`

# Horizontal Rule
Line breaks are used to demark different sections in the document. Include three consecutive hyphens in a line of their own to give a horizontal rule

line11  
line12   

---

line21

---

line31  
line32  
line33

# Text emphasis
We can emphasize a text in jupyter by either putting it in bold or italics

**Bold statement** is bolded and *italics* is italicized

***bold and italic***

# Lists
Lists are collections which help us stay organised. There are two kinds of lists:
- Ordered list
- Unordered list

### Unordered lists
Unordered lists are collections of items where the ordering isn't important. We can put either `+`, `-` or `*` before an item to indicate that it belongs to an unordered list

- item1
- item2
+ item3
+ item4
* item5
* item6

### Ordered lists
Ordered lists are collections of items where the ordering is important. We have to give a number followed by a full-stop to indicate that it's an ordered list

1. item1
2. item2
3. item3
4. item4
5. 5th one

# Hypertext
Hypertext is a text on internet which when clicked upon redirects us to a new web page

Syntax:

    [Text](url *tooltip)

Click [this](https://www.wikipedia.org/ "Go to Wiki") to go to the Wikipedia homepage

[This](https://www.google.co.in/ "go to google homepage") takes me to google

### Image

![Innomatics](https://miro.medium.com/max/2560/1*4oRB4tZrc4OLUeoc-p4wKQ.png)

![Dog]()

### Image
#### code for import the image into jupyter notebook

![Innomatics](https://miro.medium.com/max/2560/1*4oRB4tZrc4OLUeoc-p4wKQ.png)

# What is python?
- Python is an interpreted, high-level, multipurpose programming language. The version of python we'll using is python 3

### Some interesting aspects in python:
- Python is a great language to start programming with because of it's ease of use and its english-like syntax
- Python uses indentations to define scope whereas other programming languges might use flower brackets
- Python uses new lines to indicate the end of line in a program instead of using semi colons

# Why do we use Python?
Python and R are the two most ubiquitous languages used in data secience. Python wins over R in the sense that python can be scaled up with data while that's not possible with R. One more win for python is that , python provides us with many libraries and modules to handle data and work with many kinds of machine learning algorithms. Python can handle auditory, visual, textual kinds of information, to name a few. It also provides extensive support for deep learning

# Literals and Variables

### Literals
A literal is nothing but a data types which conveys information. there are many kinds of literals in python where the four main datatypes are:
- integral values: `int`
- decimal values: `float`
- true or false statements: `bool`
- text data: `str`   
Apart from these, there are many other datas type which we'll we looking at later

### Variable
Variables are nothing but place holders to store the literal values. Variables can be accessed by their names and some rules have to be followed while naming variables

Naming conventions for variables:
- A variable name can only contain alphabets, numbers and under score
- A variable name can only start with an underscore or an alphabet
- A variable name can't be the same as any keyword(keywords are sequences of characters which have some special meaning to them)
- A variable name can't have any spaces between the various parts of the variable. If we want to distinguish them, we can use and underscore or make the variable name CamelCase
> variable_name
> VariableName
- It is suggested that we make our variable names as descriptive as possible
> a = 21
> age = 21

Storing a literal into a variable is called as assigning the variable with a literal and is accomplished using the equality(`=`) symbol

In [ ]:
#Variable declaration
a = 10
b = 3.14
c = True
d = 'Hello'
e = [1,2,3]
f = {1,2,3}
g = (1,2,3)
h = {"a":1,"b":2,"c":3}

In [ ]:
type(h)

dict

In [ ]:
type(g)

tuple

In [ ]:
type(a)

int

In [ ]:
"""
comments are a great way to include notes in code.
Python uses hashes to indicate comments
Multi line comments are also given using hashes
"""

'\ncomments are a great way to include notes in code.\nPython uses hashes to indicate comments\nMulti line comments are also given using hashes\n'

In [ ]:
# to look at the data type of a variable, use the method type()
type(a)

int

In [ ]:
type(c)

bool

In [ ]:
type(d)

str

In [ ]:
type(e)

list

In [ ]:
type(f)

set

In [ ]:
# to initialise different variables with different values in the same line
a, b, c = 10, 20, 30

In [ ]:
c

30

In [ ]:
# whenever we're trying to store literals to variables in the same, the number
# of literals should match with the number of variables
a, b, c = 1, 2

ValueError: ignored

In [ ]:
# initialising different variables with the same value
a = b = c = False

In [ ]:
a

False

In [ ]:
b

False

In [ ]:
c

False

### In python, variables don't need to be declared(we don't need to say what kind of a variable it should hold) and they can change type and values mid-way

<class 'int'>
<class 'bool'>

# First Python Program

In [ ]:
# Display two messages
print("Hello World!")
print("Its great to start learning python")

Hello World!
Its great to start learning python

### Some of the rules in python
**Indentation matters in Python.** Note that the statements are entered from the first column in the new line. The Python interpreter will report an error if the program is typed as follows:

	print("Welcome to Python")
print("Python is fun")

**Don’t put any punctuation at the end of a statement**. For example, the Python interpreter will report errors for the following code:

print("Welcome to Python").
print("Python is fun"),

**Python programs are case sensitive.** It would be wrong, for example, to replace print in the program with Print.

# Writing comments in python
Comment is not a python statement and thus is ignored by python interpreter. But, it is plain text that documents what the program is and how it is constructed.

It is always good to write a comment that describes purpose of each statement included in a program.

It increases readability of the program.

In Python, one can write comments as:
1. Single line comment starting with a pound (#) sign
2. Paragraph comment that starts and ends with three consecutive single quotes (''') or three consecutive double quotes (""").

In [ ]:
#This statement prints hello world
print("Hello world!")

Hello world!

In [ ]:
"""
Paragraph comment that starts and ends with three 
consecutive single quotes (''') or 
three consecutive double quotes.
"""
print("Johny Johny Yes Papa")
print("Eating sugar no papa")
print("Telling lies no papa")
print("Open your mouth ha ha ha")

Johny Johny Yes Papa
Eating sugar no papa
Telling lies no papa
Open your mouth ha ha ha

# Python Keywords
**Keywords are the pre-defined or built-in words whose meaning is already known to python interpreter.**

Keywords are the reserved words in python

We can't use a keyword as variable name, function name or any other identifier

All the keywords except True, False and None are in lowercase and they must be written as is.

In [ ]:
#Get all keywords in python 3.6

import keyword

print(keyword.kwlist)

print("Total number of keywords ", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Total number of keywords  35

# Identifiers
**Identifiers are the user-defined names given to various program elements such as variable, function, class...etc.**

**Rules for Writing Identifiers:**

1. Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_).

2. An identifier cannot start with a digit. 1variable is invalid, but variable1 is perfectly fine.

3. Keywords cannot be used as identifiers.

4. No special symbol can be used

5. An identifier can be of any length.

**Note**: 
* Python is a case-sensitive language. This means, the identifiers amount, AMOUNT, and aMouNT are not the same. 
* Always name identifiers that make sense. For example, num is meaningful compared to x
* Multiple words can be separated using an underscore. Ex.,compound_interest
* We can also use camel-case style of writing, i.e., capitalize every first letter of the word except the initial word without any spaces. For example: camelCaseExample

### Note: 2.
Python is dynamically typed language. i.e., a variable can hold different types of literals at different times. This is not possible with static-typed languages like C, C++ and Java.

In [ ]:
a=10
print(type(a))

a=23.45
print(type(a))

a=True
print(type(a))

a='Hello'
print(type(a))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

### Note: 3.
In Python, multiple variables are assigned with corresponding values within single assignment statement.

In [ ]:
a,b,c=45,67,99
print(a)
print(b)
print(c)

45
67
99

In [ ]:
a,b=10,20
print(a,b)
b,a=a,b
print(a,b)

10 20
20 10

In [ ]:
# Number Swaping 
a,b=10,20
temp=a
a=b
b=temp
print(a,b)

20 10

### Note: 4. Type Conversion
You can convert one variable type to another type using type(value)

In [ ]:
int('23')

23

In [ ]:
a = float(5)
print(a,type(a))

5.0 <class 'float'>

In [ ]:
b = int(3.5)
print(b,type(b))

3 <class 'int'>

# Operators and Expressions

Operator is a predefined symbol that performs operation using operands.
e.g., + is an operator that performs addition using two operands.

Expression is collection of operands (literals/variables) and operators that when evaluated gives some result.
e.g., (2+3)-5 is an expression that returns result 0. 

For each operator, please know:
1. arity: no.of operands an operator acts upon
2. operation: activity
3. precedence: priority of evaluation
4. Associativity: Order of evaluation

### Arithmatics operators

In [ ]:
x = 15
y = 4
print('x + y =',x+y)
print('x - y =',x-y)
print('x * y =',x*y)
print('x / y =',x/y)
print('x // y =',x//y)
print('x ** y =',x**y)
print('x % y  =',x%y)

x + y = 19
x - y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625
x % y  = 3

### Comparison operators: relational operators
![image.png](attachment:image.png)

In [ ]:
x = 10
y = 12
print('x > y  is',x>y)
print('x < y  is',x<y)
print('x == y is',x==y)
print('x != y is',x!=y)
print('x >= y is',x>=y)
print('x <= y is',x<=y)

x > y  is False
x < y  is True
x == y is False
x != y is True
x >= y is False
x <= y is True

###  Comparison operators: logical operators
![image.png](attachment:image.png)

In [ ]:
x = True
y = False
print('x and y is',x and y)
print('x or y is',x or y)
print('not x is',not x)

x and y is False
x or y is True
not x is False

### Identity operators

In [ ]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]
print(x1 is y1)
print(x2 is y2)
print(x3 is y3)

True
True
False

###  Assignment operators

In [6]:
x = 15
y = 4
print('x=',x)
x+=y
print('x += y =',x)
x-=y
print('x -= y =',x)
x*=y
print('x *= y =',x)
x/=y
print('x /= y =',x)
x//=y
print('x //= y =',x)
x**=y
print('x **= y =',x)

x= 15
x += y = 19
x -= y = 15
x *= y = 60
x /= y = 15.0
x //= y = 3.0
x **= y = 81.0

### Membership operators:
`in` and `not in` are the membership operators in Python. They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).

In [ ]:
x = 'Hello world'
y = {1:'a',2:'b'}

print('H' in x)
print('hello' not in x)
print(1 in y)
print('a' in y)

True
True
True
False